.topNav{
  display: flex;
  background-color: aquamarine;
  height: 6rem;
}

.topNavContainer{
  display: flex;
  margin-left: auto;
}

.hmbgIcon{
  padding: 0 2rem 0 0;
  width: 3rem;
}

/*s
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@media (max-width: 720px){
  .topNavContainer ul{
    display: none;
  }
}
