*{
  box-sizing: border-box;
}

.topNav{
  display: flex;
  background-color: #7fffd4;
  height: 5rem;
}

.topNavContainer{
  display: flex;
  margin-left: auto;
}

.hmbgIcon{
  padding: 0 2rem 0 0;
  width: 4.6rem;
}


/*-- Main --*/

main{
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  height: 68vh;
}

.modelPic{
  position: absolute;
  z-index: 1;  
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  
}

.logo{
  
  position: relative;
  z-index: 10;
}

/*-- footer --*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
/*s
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@media (max-width: 720px){
  .topNavContainer ul{
    display: none;
  }
}
