@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.App{
  display: grid;
  grid-gap: 0.4rem;
  height: 100vh;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-areas: 
  "header header" 
  "main main" 
  "footer footer";
}

header{
  grid-area: header;
}

header button{
  background-color: transparent;
  overflow: hidden;
  border: none;
  cursor: pointer;

}

.topNav{
  display: flex;
  height: 4rem;
  background-color: #7fffd4;
  
}

.topNavContainer{
  display: flex;
  margin-left: auto;
}

.hmbgIcon{
  padding: 0 2rem 0 0;
  width: 4.6rem;
}


/*-- Main --*/

main{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
  
  grid-area: main;
}

.modelPic{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 22rem;
  opacity: 0.4;

  bottom: 0;

  z-index: 1;  
}

.logo{  
  position: relative;
  text-align: left;
  font-size: 3.8rem;
  z-index: 10;  
  line-height: 0.9;
}

.logo{
  font-weight: lighter;
}

.logo span{
  font-weight: 800;
}

/*-- footer --*/
footer{
  grid-area: footer;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

@media (max-width: 320px){
  
  
}

@media (max-width: 480px){
  
  
}

@media (max-width: 720px){
  .topNavContainer ul{
    display: none;
  }
}
